<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <title>DailyLiberty  |  Edit your article</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/article.js"></script>
        <link rel='stylesheet' href='/css/article.css'>
   </head>
    <body id="prueba" >
      <%
      var id = "0";
      var title = "";
      var subtitle = "";
      var content = "";
      var category = "";
      if ( article ) {
        id = article.id;
        title = article.title;
        subtitle = article.subtitle;
        content = article.content;
        category = article.category;
      }%>
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="/">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar">
                    <button id="botonSearch" class="botonSearch">
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                            <button id="dropBoton" class="dropBoton"></button>
                            <div style="left: -190%" class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="#">Escriure Article</a>
                                <a href="/logout">Log Out</a>
                            </div>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="/index">Inici</a></li>
                  <li><a href="/tendencies">Tendències</a></li>
                  <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                  <div id="collapse1" class="collapse">
                      <div class="panel-body">
                          <a href="/index">Política</a>
                          <a href="/index">Esports</a>
                          <a href="/index">Ciència</a>
                        <a href="/index">Tecnologia</a>
                        <a href="/index">Altres</a>
                      </div>
                  </div>
                  <li><a href="/following">Subscripcions</a></li>
            </ul>
        </nav>



        <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
              <h2>DailyLiberty</h2>
              <p>Edit your articles here </p>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <form class="form-horizontal" method="POST" action="article?e=<%=id%>">
                    <div class="form-group">
                      <label for="title">Title</label>
                        <pre><textarea name="title" id="texte" class="form-control" rows="1" placeholder="Pick up a title" required><%=title%></textarea></pre>
                    </div>
                    <div class="form-group">
                      <label for="subtitle">Subtitle</label>
                       <pre><textarea  name="subtitle" class="form-control" rows="2" placeholder="Pick up a subtitle" required><%=subtitle%></textarea></pre>
                    </div>

                    <div class="form-group">
                      <label for="description">Description</label>
                        <pre><textarea  name="content" class="form-control" rows="15" placeholder="Describe your article" required><%=content%></textarea></pre>
                      </div>
                      <div class="form-group">
                        <label for="category">Category</label><br><br>
                          <form>
                            <fieldset>
                                <label class="espacio">
                                  <input type="radio" name="color" value="politica"> Política
                                </label>
                                <label class="espacio">
                                    <input type="radio" name="color" value="esports"> Esports
                                </label>
                                <label class="espacio">
                                    <input type="radio" name="color" value="cultura"> Ciència
                                </label>
                                <label class="espacio">
                                    <input type="radio" name="color" value="tecnologia"> Tecnologia
                                </label>
                                <label class="espacio">
                                    <input type="radio" name="color" value="altres"> Altres
                                </label>
                            </fieldset>
                          </form>
                    </div>

                      <div>
                        <br><label for="image">Image</label><br><br>
                          <div class="centrarboto">
                            <input type=file  accept='image/jpeg, image/jpg, image/png' id=choose name=choose>
                          </div>
                    </div>
                      <br><br>
                      <button type="button" class="btn btn-default" onclick="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-default">Save Changes</button>
                    <button type="button" class="btn btn-default" onclick="myFunction()" target="_blank"> Preview</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </section>
             </section>


        <script src="/js/mostrarNav.js"></script>
        <script>
          document.getElementById("dropBoton").style.background = 'url(<%=me.fotourl %>)';
          document.getElementById("dropBoton").style.backgroundSize = 'cover';
          document.getElementById("dropBoton").style.borderRadius = '100px';
        </script>

    </body>
</html>
