<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <title>DailyLiberty  |  Subscriptions</title>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='/css/subscripcions.css'>
   </head>
    <body id="prueba" >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="/">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar">
                    <button id="botonSearch" class="botonSearch">
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                            <button id="dropBoton" class="dropBoton"></button>
                            <div class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/newarticle">Escriure Article</a>
								                <a href="/about">About Us</a>
                                <a href="/logout">Log Out</a>
                            </div>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="/index">Inici</a></li>
                  <li><a href="/tendencies">Tendències</a></li>
                  <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                  <div id="collapse1" class="collapse">
                      <div class="panel-body">
                          <a href="/index">Política</a>
                          <a href="/index">Esports</a>
                          <a href="/index">Ciència</a>
                        <a href="/index">Tecnologia</a>
                        <a href="/index">Altres</a>
                      </div>
                  </div>
                  <li><a href="/following">Subscripcions</a></li>
            </ul>
        </nav>

      <div style="margin-left: 0px" class="container bootstrap snippet col-md-offset-2">
        <h1 class="seguidors">These are your current subscriptions:</h1>
          <% if(following.length == 0) { %>
              <h4 style="padding-left:62px"><i>You are not following anybody right now.</i></h4>
          <% } else { %>
            <% for(var i = 0; i < following.length; i++) { %>
              <% var inicial = following[i].substring(0, 1);%>
               <div class="col-lg-3 col-md-4 col-sm-6">
              	<!-- Begin user profile -->
              	<div class="box-info text-center user-profile-2" >
              		<div class="user-profile-inner">
                    <input id="<%=following[i] %>" style="display:none"></input>
              			<div id="pointerfoto" class="test img-circle profile-avatar" alt="User avatar" onclick="myFunction<%=i%>()"><p class="letra"><%=inicial %></p></div>
                          <h4 class="black"><%=following[i] %></h4>
              		</div>
              	</div>
              </div>
              <script>
                  function myFunction<%=i%>() {
                      var usuario = document.getElementById('<%=following[i] %>').id;
                      window.location.href = '/user?v=' + usuario;
                  }
              </script>
            <% } %>
        <% } %>
      </div>

             </section>
        <script src="/js/mostrarNav.js"></script>
          <script>
            document.getElementById("dropBoton").style.background = "url(<%=user.fotourl %>)";
            document.getElementById("dropBoton").style.backgroundSize = 'cover';
            document.getElementById("dropBoton").style.borderRadius = '100px';
          </script>

    </body>
</html>
