<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='/css/index.css'>
   </head>
    <body id="prueba" >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="/">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <form action="results" method="GET">
                        <input id="search" type="search" placeholder="Buscar" name="search">
                        <button id="botonSearch" class="botonSearch">
                            <img src="/img/lupaBuscador.png"/>
                        </button>
                    </form>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <% if (isLoggedIn == true) { %>
                            <button id="dropBoton" class="dropBoton"></button>
                             <div style="left: -190%" class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/newarticle">Escriure Article</a>
                                <a href="/logout">Log Out</a>
                            </div>
                        <%} else {%>
                            <button id="dropBoton2" class="dropBoton"></button>
                             <div style="left: -60%" class="dropContingut">
                                <a href="/login" >Sign In</a>
                                <a href="/register">Register</a>
                            </div>
                        <% } %>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="#">Inici</a></li>
                <li><a href="tendencies">Tendències</a></li>
                <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                <div id="collapse1" class="collapse">
                    <div class="panel-body">
                        <a href="/politica">Política</a>
                          <a href="/esports">Esports</a>
                          <a href="/ciencia">Ciència</a>
                        <a href="/tecnologies">Tecnologia</a>
                        <a href="/altres">Altres</a>
                    </div>
                </div>
                <li><a href="/following">Subscripcions</a></li>
            </ul>
        </nav>
            <% if (articles.length > 0) {
                for (var i = 0; i < articles.length; i++){%>
                    <a class="articulo" href="/read?a=<%=articles[i]._id%>"><article class="cajaI">
                        <header>
                            <!--<img src="<%=articles[i].portada%>"/>-->
                            <img src="/img/ciencia.jpg">
                        </header>
                        <section>
                            <h1><%=articles[i].title %></h1>
                            <h2><%=articles[i].subtitle %></h2>

                            <div>
                                <p><%=articles[i].category %></p>

                                <small><%=articles[i].author %></small>
                            </div>
                        </section>
                    </article></a>
                <%} }%>
        </section>
        <script src="/js/mostrarNav.js"></script>
        <% if (isLoggedIn == true) { %>
          <script>
            document.getElementById("dropBoton").style.background = 'url(<%=me.fotourl %>)';
            document.getElementById("dropBoton").style.backgroundSize = 'cover';
            document.getElementById("dropBoton").style.borderRadius = '100px';
          </script>
        <% } %>

    </body>
</html>
