<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' min-width="20%" content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <link rel='stylesheet' href='/css/profile.css'>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>DailyLiberty  |  Your profile</title>
    </head>
    <body id="prueba">
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="/">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar" hidden></input>
                    <button id="botonSearch" class="botonSearch" hidden>
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button id="dropBoton" class="dropBoton"></button>
                            <div class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/article">Escriure Article</a>
								<a href="/about">About Us</a>
                                <a href="/logout">Log Out</a>
                            </div>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
          <div id="divFondo"></div>
          <nav>
              <ul class="menu">
                  <li><a href="/">Inici</a></li>
                  <li><a href="/tendencies">Tendències</a></li>
                  <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                  <div id="collapse1" class="collapse">
                      <div class="panel-body">
                          <a href="/category?c=politica">Política</a>
                            <a href="/category?c=esports">Esports</a>
                            <a href="/category?c=ciencia">Ciència</a>
                          <a href="/category?c=tecnologia">Tecnologia</a>
                          <a href="/category?c=altres">Altres</a>
                      </div>
                  </div>
                  <li><a href="/following">Subscripcions</a></li>
              </ul>
          </nav>

          <!-- Sergio bootstrap -->
          <div id="perfil" class="container perso">
              <div class="row mb25">
                <div class="col-lg-12" style="margin-bottom: 12px">
                    <h1 class="t1"><b>My profile</b>
                      <img style="cursor:pointer; margin-left: 10px" height="33px" width="33px" src="/img/pencil-icon.png" title="Edit Profile" alt="EDIT" onclick="switchtoedit()">
                    </h1>
                </div>
                <div id="cajafoto" class="col-lg-3">
                  <div class="form-group ft">
                    <img id="fotovista" width="150px" height="150px" style="border-radius: 100px" alt="pic">
                  </div>
                </div>
               <div id="cajaperfil" class="col-lg-7">
                 <div class="form-group perf">
                   <span>
                     <p style="float:left; margin-right: 6px;"><b>Username: </b></p>
                     <p><%=user.username %></p>
                   </span>
                 </div><hr style="border-color: lightgrey">
                 <div class="form-group perf">
                   <span>
                     <p style="float:left; margin-right: 6px;"><b>Full name: </b></p>
                     <p style="float:left; margin-right: 3px" id="oldta1"><%=user.firstName%></p>
                     <p id=oldta1.2><%=user.lastName %></p>
                   </span>
                 </div><hr style="border-color: lightgrey">
                 <div class="form-group perf">
                   <span>
                     <p style="float:left; margin-right: 6px;"><b>Email: </b></p>
                     <p id="oldta2"><%=user.email %></p>
                   </span>
                 </div><hr style="border-color: lightgrey">
                 <div class="form-group perf">
                   <span>
                     <p style="float:left; margin-right: 6px;"><b>Birth date: </b></p>
                     <p id="oldta3"><%=user.birthdate %></p>
                   </span>
                 </div>
               </div>
             </div>
               <div class="row kov" style="background: #f1f1f1;">
                  <button style="padding: 5px;" class="tablinks" onclick="openTab(event, 'Statistics')">Statistics</button>
                  <button style="padding: 5px;" class="tablinks" onclick="openTab(event, 'Articles')">Articles</button>
                  <button style="padding: 5px;" class="tablinks" onclick="openTab(event, 'About me')">About me</button>
               </div>

                <div class="row kov tabcontent" id="Statistics"style="display: none">
                  <h4><b>Total of articles:</b></h4>
                  <p>You've written <%=user.articles %> articles.</p>
                  <h4><b>Total Rating:</b></h4>
                  <p>Your total rating is: <%=user.rating %>.</p>
                  <h4><b>Followers:</b></h4>
                  <p><a href="/followers?v=<%=user.username %>">Click to check your followers!</a></p>
                </div>

                <div class="row kov tabcontent" id="Articles" class="tabcontent" style="display: none">
                  <h4><b>Articles written:</b></h4>
                  <p><i>/*Aquí sortirien els articles que ha escrit.*/</i></p>
                </div>

                <div class="row kov tabcontent" id="About me" class="tabcontent" style="display: none">
                  <h4><b>About me:</b></h4>
                  <p id="oldta4"><%=user.aboutme %></p>
                </div>
            </div>

            <!--CONTAINER D'EDICIÓ -->
            <form id="editar" class="container perso" style="display: none" enctype='multipart/form-data' action="/profile" method="POST">
                <div class="row mb25">
                  <div class="col-lg-12" style="margin-bottom: 12px">
                      <h1 class="t1"><b>My profile</b></h1>
                  </div>
                  <div id="cajafotoedit" class="col-lg-3">
                    <div class="form-group ft">
                      <img id="fotoselect" class="fotoedit" onclick="activarfondofoto()" width="150px" height="150px" title="Change avatar" alt="pic"></img>
                    </div>
                  </div>
                 <div id="cajaperfil" class="col-lg-7">
                   <div class="form-group perf">
                    <p style="float: left; margin-top: 6px;"><b>Username:</b></p>
                    <textarea style="resize: none; cursor:  not-allowed" class="form-control h35" name="username" readonly><%=user.username %></textarea>
                  </div><hr style="border-color: lightgrey">
                   <div class="form-group perf">
                     <p style="float: left; margin-top: 6px; margin-right: 1px;"><b>Full name: </b></p>
                     <textarea id="ta1" style="resize: none; width: 100px"
                           class="form-control h35" name="fullname1" maxlength="10" required><%=user.firstName %></textarea>
                     <textarea id="ta1.2" style="resize: none; width: 170px"
                           class="form-control h35" name="fullname2" maxlength="24" required><%=user.lastName %></textarea>
                   </div><hr style="border-color: lightgrey">
                   <div class="form-group perf">
                     <p style="float: left; margin-top: 6px; margin-right: 30px;"><b>Email: </b></p>
                     <textarea id="ta2" style="resize: none;" class="form-control h35" name="mail" maxlength="35" required><%=user.email %></textarea>
                   </div><hr style="border-color: lightgrey">
                   <div class="form-group perf">
                     <p style="float: left; margin-top: 6px; margin-right: 2px;"><b>Birth date: </b></p>
                     <textarea id="ta3" style="resize: none;" class="form-control h35" name="birth" maxlength="10" ><%=user.birthdate %></textarea>
                   </div>
                 </div>
               </div>
                 <div class="row kov" style="background: #f1f1f1;">
                    <button style="padding: 5px;" class="tablinks2" disabled>Statistics</button>
                    <button style="padding: 5px;" class="tablinks2" disabled>Articles</button>
                    <button style="padding: 5px; background: darkgrey" class="tablinks2" disabled>About me</button>
                 </div>

                  <div class="row kov tabcontent2">
                    <h4><b>About me:</b></h4>
                    <textarea id="ta4" style="width: 500px; height: 80px; margin-right: 20px; margin-bottom: 10px; resize: none;" class="form-control h35" name="aboutme" maxlength="300"><%=user.aboutme %></textarea>
                  </div>
                  <div class="row kov tabcontent2">
                    <button type="button" class="cancelchanges" onclick="switchtoprofilenoedit()">Cancel edit</button>
                    <button type="submit" class="savechanges">Save changes</button>
                  </div>
              <!-- FI CONTAINER EDICIÓ -->

         </section>
         <div id="fondofoto" class="fondoopciones" onclick="fueraya()" style="display: none">
             <div id="opcionesavatar" class="dropdown-content">
               <div class="row mb25" style="width: 500px">
                 <div class="col-lg-12 fotoptions" onclick="cambiarfoto()" style="margin-bottom: 12px">
                     <h4>Change Avatar</h4>
                     <input name="filetoupload" id="document-file" type="file"  accept="image/jpeg, image/png" onchange="cambiarfoto(this)" style="opacity: 0.0; position: absolute; top:0; left: 0; bottom: 0; right:0; width: 100%; cursor: pointer;"/>
                 </div>
                 <div class="col-lg-12 fotoptions" onclick="ripfoto()" style="margin-bottom: 12px">
                    <h4>Delete Avatar</h4>
                </div>
                <div class="col-lg-12 fotoptions" style="margin-bottom: 12px">
                   <h4>Cancel</h4>
               </div>
             </div>
           </div>
         </div>
         <input type="number" id="calborrar" style="display: none" value="0" name="calborrar"></input>
     </form>
        <script src="/js/mostrarNav.js"></script>
        <script src="/js/profile.js"></script>

        <!--Aquest script ha de ser aquí per a què es detectin coses de NODEJS -->
        <script>
          //Deteccions de fotos (Perfil + miniatura)
          document.getElementById("fotovista").src = '<%=user.fotourl %>';

          document.getElementById("dropBoton").style.background = 'url(<%=user.fotourl %>)';
          document.getElementById("dropBoton").style.backgroundSize = 'cover';
          document.getElementById("dropBoton").style.borderRadius = '100px';

          function switchtoedit() {
            document.getElementById('perfil').style.display = 'none';
            document.getElementById('editar').style.display = 'block';
            document.getElementById("fotoselect").src = '<%=user.fotourl %>';
          }
          function switchtoprofilenoedit() {
            document.getElementById('perfil').style.display = 'block';
            document.getElementById('editar').style.display = 'none';

            document.getElementById('ta1').value = '<%=user.firstName %>';
            document.getElementById('ta1.2').value = '<%=user.lastName %>';
            document.getElementById('ta2').value = '<%=user.email %>';
            document.getElementById('ta3').value = '<%=user.birthdate %>';
            document.getElementById('ta4').value = '<%=user.aboutme %>';
            document.getElementById("fotoselect").src = '<%=user.fotourl %>';
            document.getElementById("calborrar").value = "0";
          }
          function switchtoprofileedit() {
            document.getElementById('perfil').style.display = 'block';
            document.getElementById('editar').style.display = 'none';

            /* Això com recarrega la pagina el servidor potser no cal */
            document.getElementById('oldta1').innerHTML = document.getElementById('ta1').value;
            document.getElementById('oldta1.2').innerHTML = document.getElementById('ta1.2').value;
            document.getElementById('oldta2').innerHTML = document.getElementById('ta2').value;
            document.getElementById('oldta3').innerHTML = document.getElementById('ta3').value;
            document.getElementById('oldta4').innerHTML = document.getElementById('ta4').value;
            document.getElementById("fotovista").src = document.getElementById("fotoselect").src;
          }
          function ripfoto() {
            if(document.getElementById("document-file").value != ""){
              document.getElementById("document-file").value = "";
            }
            document.getElementById("fotoselect").src = "/multimedia/profilepics/default.png";
            document.getElementById("calborrar").value = "1";
          }
        </script>

    </body>
</html>
