<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <title>DailyLiberty  |  Reading article</title>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='/css/read.css'>
		<script src="/js/likes.js"></script>
   </head>
   <%
        var id = article.id;
        var title = article.title;
        var subtitle = article.subtitle;
        var content = article.content;
        var category = article.category;
        var author = article.author;
        var views = article.views;
        var fotoart = article.fotourl;
        var comentaris = article.comments;

        var dd = article.data.getDate();
        var mm = article.data.getMonth()+1;
        var yyyy = article.data.getFullYear();

        if(dd < 10) {
            dd = '0' + dd;
        }

        if(mm < 10) {
            mm = '0' + mm;
        }
        var data = dd + '/' + mm + '/' + yyyy;

        var likes = article.likes.filter(function(element) { return element.like; }).length;
        var dislikes = article.likes.length - likes;
    %>
    <body >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="/">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                   <form action="results" method="GET">
                        <input id="search" type="search" placeholder="Buscar" name="search"></input>
                        <button id="botonSearch" class="botonSearch">
                            <img src="img/lupaBuscador.png"/>
                        </button>
                    </form>
                </li>
                <li class="login">
                    <div class="dropLogin">

                        <% if (isLoggedIn == true) { %>
                            <button id="dropBoton" class="dropBoton"></button>
                             <div style="left: -190%" class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/article">Escriure Article</a>
								<a href="/about">About Us</a>
                                <a href="/logout">Log Out</a>
                            </div>
                        <%} else {%>
                            <button id="dropBoton2" class="dropBoton"></button>
                             <div style="left: -60%" class="dropContingut">
                                <a href="/login" >Sign In</a>
                                <a href="/register">Register</a>
								<a href="/about">About Us</a>
                            </div>
                        <% } %>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="/index">Inici</a></li>
                  <li><a href="/tendencies">Tendències</a></li>
                  <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                  <div id="collapse1" class="collapse">
                      <div class="panel-body">
                          <a href="/category?c=politica">Política</a>
                          <a href="/category?c=esports">Esports</a>
                          <a href="/category?c=ciencia">Ciència</a>
                        <a href="/category?c=tecnologia">Tecnologia</a>
                        <a href="/category?c=altres">Altres</a>
                      </div>
                  </div>
                  <li><a href="/following">Subscripcions</a></li>
            </ul>
        </nav>
        <div class="articuloCompleto">
            <article id="global" >
                <header>
                    <p><%=category%></p>
                    <h1><%=title%></h1>
                    <h2><%=subtitle%></h2>
                </header>

                <section>

                    <div class="divImg">
					<% if (isLoggedIn && user.username == author) { %>
						<img title="Edit your article" onclick="location.href = '/article?e=<%=id%>'" style="cursor:pointer" class="pencil" src="/img/pencil-icon.png"/>
                    <% } %>
						<div class="preImagen"><div class="autor">
                            <small>per </small>
                            <a href="/user?v=<%=author%>"><%=author%></a>
                            <p><%=data%></p>
                            <p style="font-size: 14px">
                              <img id="com" title="See the comments" style="cursor:pointer;"width="25px" height="auto" src="/img/comments.png">   <%=comentaris.length%>
                            </p>
                        </div>
							<div class="shareLike">
                                <div class="twitterVisites">
                                    <img title="Share on Twitter" rel="nofollow" onclick="window.open(
                                      'http://twitter.com/intent/tweet?text=Molt interessant la noticia escrita a DailyLiberty via @DailyLiberty - aquí pots trobar el link ' +location.href,
                                      'popupwindow',
                                      'scrollbars=yes,width=800,height=450');
                                      popUp.focus();
                                      return false" class="imgtwitter"  src="/img/twitter.png"/>
                                    <div id="views" style="color:green" class="visites"><%=views%></div><span>&nbsp;views</span>
                                </div>
                                <div class="likesDislikes" id="rating">
									<div class="intLike">
										<span id="muteGreen" class="like" >
											<button title="Like this article" id="nogreen" class="likenogreen"></button>
										</span>
										<span class="likes"><%=likes%></span>
										<span id="muteRed" class="dislike" >
											<button title="Dislike this article" id="nored" class="dislikenored"></button>
										</span>
										<span class="dislikes"><%=dislikes%></span>

										  <!------1--if like true---------Like & Undislike------------------

										<span id="muteGreen" class="like active" >
											<button id="nogreen" class="likegreen"></button>
										</span>
										<span class="likes">12</span>
										<span id="muteRed" class="dislike" >
											<button id="nored" class="dislikenored"></button>
										</span>
										<span class="dislikes">2</span>-->

										<!-----2 else if like false----------Dislike & Unlike------------------

										<span id="muteGreen" class="like" >
											<button id="nogreen" class="likenogreen"></button>
										</span>
										<span class="likes">12</span>
										<span id="muteRed" class="dislike active" >
											<button id="nored" class="dislikered"></button>
										</span>
										<span class="dislikes">2</span>-->

									   <!------3 else----------Unlike & Undislike---------------

										<span id="muteNoGreen" class="like">
											<button id="nogreen" class="likenogreen"></button>
										</span>
										<span class="likes">12</span>
										<span id="muteNoRed" class="dislike" >
											<button id="nored" class="dislikenored"></button>
										</span>
										<span class="dislikes">2</span>-->

									</div>
								</div>
                            </div>
						</div>
                        <img class="imgPrincipal" src="<%=fotoart%>"/>
                    </div>
                    <div>
                    <pre><%=content%></pre>
                </div>
                </section>
                <hr style="width: 60%; border-color: grey;">
                <section class="section2">
                    <div class="divImg cajacomentarios">
                      <div class="comentariotitulo" style="text-align: left">
                          <p style="color:darkred; font-family:arial; margin-bottom:20px"><b><u>COMMENTS:</b></u></p>
                      </div>
                  <% if (isLoggedIn == true) { %>
                      <div class="micomentario">
                      <form action="/read?a=<%=id%>&act=com" method="post">
                            <img width="40px" height="40px" src="<%=user.fotourl%>" style="vertical-align:top; border-radius:100px">
                            <textarea name="comentario" rows="3" cols="40" placeholder="Leave a comment" maxlength="280" class="comenta" required></textarea><br>
                            <button id="botocomentari" type="submit">Submit</button>
                      </form>
                    </div>
                  <% } else { %>
                    <a href="/login" style="color: darkblue"><i><b>You must Log in to comment articles.</b></i></a>
                  <% } %>
                  <hr style="border-color: darkgrey">
                    <% if(comentaris.length == 0) { %>
                      <p style="font-family:arial; margin-top:30px; margin-bottom:30px"><b><i>There are no comments in this article yet.</b></i></p>
                    <% } else {%>
                        <% for(var i = comentaris.length-1; i > -1; --i) {
                              var usercoment = comentaris[i].split("&com=");
                              var usuar = usercoment[0];
                              var comentari = usercoment[1];%>
                            <div class="othercomments">
                              <a href="/user?v=<%=usuar%>"><b><%=usuar%></b></a>
                              <p><%=comentari %></p>
                            </div>
                        <% } %>
                    <% } %>
                  <hr style="border-color: grey; margin-top: 35px">
                </section>

                <!-- DEIXO AXO OCULT FINS QUE ESTIGUI L'SCRIPT
                <footer style="background:yellow">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    XYZ 336 x 280
                    <ins   class="adsbygoogle"
                     style="display:inline-block;width:336px;height:280px"
                     data-ad-client="ca-pub-XXXXXXXXXXXXX"
                     data-adtest="on"
                     data-ad-slot="XXXXXXXXXXX"></ins>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    GoogleAdsense(script incorporat)
                </footer> -->
            </article>
        </div>


        </section>
        <script src="/js/mostrarNav.js"></script>
        <script src="/js/changeColor.js"></script>
		<script src="/js/correctorInsults.js"></script>
    <script type="text/javascript">
        $('#rating').likeDislike({
            initialValue: 0,
            click: function (value, l, d, event) {
                var likes = $(this.element).find('.likes');
                var dislikes = $(this.element).find('.dislikes');
                //$ . get( "/like?a=<%=id%>&u= < % = ***user.username***% >&l="+value ); ***AIXO FA PETAR LA PAGINA
                likes.text(parseInt(likes.text()) + l);
                dislikes.text(parseInt(dislikes.text()) + d);
            }
        });
    </script>
		<% if (isLoggedIn == true) { %>
          <script>
            document.getElementById("dropBoton").style.background = "url(<%=user.fotourl %>)";
            document.getElementById("dropBoton").style.backgroundSize = 'cover';
            document.getElementById("dropBoton").style.borderRadius = '100px';
          </script>
        <% } %>
		<script>
            $("#com").click(function() {
                $('html,body').animate({
                    scrollTop: $(".cajacomentarios").offset().top},
                    'slow');
            });
            function numberto(n){
                x=(''+n).length;
                p=Math.pow;
                d=p(10,true);
                x-=x%3;
                return Math.round(n*d/p(10,x))/d+" kMGTPE"[x/3];
            }
            document.getElementById("views").innerHTML = numberto(document.getElementById("views").innerHTML);
        </script>
    </body>
</html>
