<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='/css/tendencies.css'>
        <title>DailyLiberty  |  Tendencies</title>
   </head>
    <body>
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                  <a class="logo" href="/">
                      <img width="auto" height="40px" src="/img/DailyLiberty.png" alt="DailyLiberty">
                  </a>
                </li>
                <li id="buscador" class="buscador">
                    <form action="results" method="GET">
                        <input id="search" type="search" placeholder="Buscar" name="search"></input>
                        <button id="botonSearch" class="botonSearch">
                            <img src="img/lupaBuscador.png"/>
                        </button>
                    </form>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <% if (isLoggedIn == true) { %>
                            <button id="dropBoton" class="dropBoton"></button>
                             <div style="left: -190%" class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/article">Escriure Article</a>
								<a href="/about">About Us</a>
                                <a href="/logout">Log Out</a>
                            </div>
                        <%} else {%>
                            <button id="dropBoton2" class="dropBoton"></button>
                             <div style="left: -60%" class="dropContingut">
                                <a href="/login" >Sign In</a>
                                <a href="/register">Register</a>
								<a href="/about">About Us</a>
                            </div>
                        <% } %>
                    </div>
                </li>
            </ul>
        </header>

        <section id ="cajasArticulos" class="cajas">
            <div id="divFondo"></div>
            <nav>

            <ul class="menu">
                <li><a href="/">Inici</a></li>
                  <li><a href="#">Tendències</a></li>
                  <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                  <div id="collapse1" class="collapse">
                      <div class="panel-body">
                          <a href="/category?c=politica">Política</a>
                            <a href="/category?c=esports">Esports</a>
                            <a href="/category?c=ciencia">Ciència</a>
                          <a href="/category?c=tecnologia">Tecnologia</a>
                          <a href="/category?c=altres">Altres</a>
                      </div>
                  </div>
                  <li><a href="/following">Subscripcions</a></li>
            </ul>
        </nav>
        <% if (tendencies.length > 0) {
                for (var i = 0; i < tendencies.length; i++){
                    var likes = tendencies[i].likes.length;
                    var dislikes = tendencies[i].dislikes.length;%>
                    <div onclick="location.href = '/read?a=<%=tendencies[i]._id%>'" class="divImgArt">
                        <div><img style="-moz-user-select: none; user-select: none;" src="<%=tendencies[i].fotourl%>"/></div>
                        <article class="cajaArticle"  id="global" >
							<div class="Content">
								<header>
									<h1 style="-moz-user-select: none; user-select: none;" ><%=tendencies[i].title%></h1>
								</header>
								<section>
									<h2 style="-moz-user-select: none; user-select: none;" ><%=tendencies[i].subtitle%></h2>
								</section>
							</div>
							<div class="footer">
								<div class="viewsDiv">
									<div id="views" class="visites"><%=tendencies[i].views%></div>
									<span class="nom">&nbsp;views</span>
								</div>

								<div>
									<div class="intLike">
										<p><%=tendencies[i].category%></p>
										<span id="muteGreen" class="like" >
											<button id="nogreen" class="likegreen"></button>
										</span>
										<span class="likes"><%=likes%></span>
										<span id="muteRed" class="dislike" >
											<button id="nored" class="dislikered"></button>
										</span>

										<span class="dislikes"><%=dislikes%></span>

									</div>

									<p class="pHidden" ><%=tendencies[i].category%></p>
									<small><%=tendencies[i].author%></small>
								</div>
							</div>
                        </article>
                    </div>
            <%} }%>
        </section>
        <script src="/js/mostrarNav.js"></script>
        <script src="/js/correctorInsults.js"></script>
        <% if (isLoggedIn == true) { %>
          <script>
            document.getElementById("dropBoton").style.background = "url(<%=user.fotourl %>)";
            document.getElementById("dropBoton").style.backgroundSize = 'cover';
            document.getElementById("dropBoton").style.borderRadius = '100px';
          </script>
        <% } %>
    </body>
</html>
