<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1'/>    
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='/css/styleTendencies.css'>
   </head>
    <body id="prueba" >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="tendencies.html">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar"></input>
                    <button id="botonSearch" class="botonSearch">
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton"></button>
                        <% if (isLoggedIn == true) { %>
                            <div style="left: -190%" class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/newarticle">Escriure Article</a>
                                <a href="/logout">Log Out</a>
                            </div>
                        <%} else {%>
                            <div style="left: -60%" class="dropContingut">
                                <a href="/login" >Sign In</a>
                                <a href="/register">Register</a>
                            </div>
                        <% } %>
                    </div>
                </li>
            </ul>
        </header>
        
        <section id ="cajasArticulos" class="cajas">
            <div id="divFondo"></div>
            <nav>
            
            <ul class="menu">
                <li><a href="/">Inici</a></li>
                <li><a href="/tendencies">Tendències</a></li>
                <li>
                    <a data-toggle="collapse" href="#collapse1">Categories</a>
                </li>
                    <div id="collapse1" class="collapse">
                        <div class="panel-body">
                            <a href="principal.html">Política</a>
        	                <a href="principal.html">Esports</a>
        	                <a href="principal.html">Ciència</a>
        	                <a href="principal.html">Tecnologia</a>
        	                <a href="principal.html">Altres</a>
        	                
                        </div>
                    </div>   
                <li><a href="/profile">Subscripcions</a></li>
            </ul>
        </nav>
        <% if (tendencies.length > 0) {
                for (var i = 0; i < tendencies.length; i++){%>
                    <div onclick="location.href = '/index'" class="divImgArt">
                        <div><img src="<%=tendencies[i].portada%>"/></div>
                        <article class="cajaArticle">
							<div>
								<header>
									<h1><%=tendencies[i].title%></h1>
								</header>
								<section>
									<h2><%=tendencies[i].subtitle%></h2>
								</section>
							</div>
                            <footer>
                                <div>
                                    <p><%=tendencies[i].category%></p>
                                    <small><%=tendencies[i].author%></small>
                                </div>
                            </footer>
                        </article>
                    </div>
            <%} }%>
        </section> 
        <script src="/js/mostrarNav.js"></script>
        
    </body>
</html>


