<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' min-width="20%" content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <link rel='stylesheet' href='/css/user.css'>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body id="prueba">
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="/">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar" hidden></input>
                    <button id="botonSearch" class="botonSearch" hidden>
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton">Login</button>
                        <% if (isLoggedIn == true) { %>
                            <div class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/newarticle">Escriure Article</a>
                                <a href="/logout">Log Out</a>
                            </div>
                        <%} else {%>
                            <div class="dropContingut">
                                <a href="/login" >Sign In</a>
                                <a href="/register">Register</a>
                            </div>
                        <% } %>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
          <div id="divFondo"></div>
          <nav>
              <ul class="menu">
                  <li><a href="#">Inici</a></li>
                  <li><a href="tendencies.html">Tendències</a></li>
                  <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                  <div id="collapse1" class="collapse">
                      <div class="panel-body">
                          <a href="principal.html">Política</a>
                          <a href="principal.html">Esports</a>
                          <a href="principal.html">Ciència</a>
                        <a href="principal.html">Tecnologia</a>
                        <a href="principal.html">Altres</a>
                      </div>
                  </div>
                  <li><a href="#">Subscripcions</a></li>
              </ul>
          </nav>

          <!-- Sergio bootstrap -->
          <div class="container perso">
              <div class="row mb25">
                <div class="col-lg-12" style="margin-bottom: 12px">
                    <h1 class="t1"><b><%=user.username %>'s profile</b></h1>
                </div>
                <div id="cajafoto" class="col-lg-3">
                  <div class="form-group ft">
                    <img id="fotoperfil" width="150px" height="150px" style="border-radius: 100px" alt="pic">
                  </div>
                  <div class="form-group ft">
                    <button id="seguir" class="follow" onclick="follow()">Follow</button>
                  </div>
                </div>
               <div id="cajaperfil" class="col-lg-7">
                 <div class="form-group perf">
                   <p><b>Username: </b> <%=user.username %></p>
                 </div><hr style="border-color: lightgrey">
                 <div class="form-group perf">
                   <p><b>Full name: </b> <%=user.firstName + " " + user.lastName %></p>
                 </div><hr style="border-color: lightgrey">
                 <div class="form-group perf">
                   <p><b>Email: </b> <%=user.email %></p>
                 </div><hr style="border-color: lightgrey">
                 <div class="form-group perf">
                   <p><b>Birth date:</b><%=user.birthdate %></p>
                 </div>
               </div>
             </div>
               <div class="row kov" style="background: #f1f1f1;">
                  <button style="padding: 5px;" class="tablinks" onclick="openTab(event, 'Statistics')">Statistics</button>
                  <button style="padding: 5px;" class="tablinks" onclick="openTab(event, 'Articles')">Articles</button>
                  <button style="padding: 5px;" class="tablinks" onclick="openTab(event, 'About me')">About me</button>
               </div>

                <div class="row kov tabcontent" id="Statistics"style="display: none">
                  <h4><b>Total of articles:</b></h4>
                  <p>This user has written 0 articles.</p>
                  <h4><b>Average Rating:</b></h4>
                  <p>This user's average rating is: 0.</p>
                  <h4><b>Followers:</b></h4>
                  <p>This user has <a href="#">0 followers.</a></p>
                </div>

                <div class="row kov tabcontent" id="Articles" class="tabcontent" style="display: none">
                  <h4><b>Articles written:</b></h4>
                  <p><i>/*Aquí sortirien els articles que ha escrit.*/</i></p>
                </div>

                <div class="row kov tabcontent" id="About me" class="tabcontent" style="display: none">
                  <h4><b>About <%=user.username %>:</b></h4>
                  <p><%=user.email %></p>
                </div>
            </div>
         </section>

        <script src="/js/mostrarNav.js"></script>
        <script src="/js/follow.js"></script>
        <script>
        document.getElementById("fotoperfil").src = '<%=user.fotourl %>';
          function openTab(evt, TabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(TabName).style.display = "block";
            evt.currentTarget.className += " active";
          }
        </script>
    </body>
</html>
